name: Build

on:
  push:
  pull_request:

jobs:
  releaseJar:
    runs-on: ubuntu-latest
    if: "github.actor != 'dependabot[bot]'"
    steps:
      - uses: actions/checkout@main
      - name: set up JDK 17
        uses: actions/setup-java@main
        with:
          java-version: 17
          distribution: temurin

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build
      - name: Build with Gradle * 2
        run: ./gradlew build

      - name: Upload File
        if: "github.event_name != 'pull_request'"
        uses: marvinpinto/action-automatic-releases@master
        with:
          title: "CI"
          automatic_release_tag: "ci"
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          files: "build/libs/*.jar"
          prerelease: true
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name:  Artifact
          path: build/*
